#home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#search-button {
  background-color: #e57fee;
}
#search-button:hover {
  background-color: #d979e2;
}

/* Glassmorphism style */
.container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.5em;
  padding-top: 10vh;
  padding-bottom: 10vh;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.08);
}

/* Circles */

/* Light blue */
.c-1 { 
  left: 3%;
  top: 5%;
  width: 11vw;
  height: 11vw;
  transform: rotate(120deg);
}

/* Dark blue large */
.c-2 {
  right: 5%;
  top: -10%;
  width: 23vw;
  height: 23vw;
  transform: rotate(-136deg);
}

/* Purple small */
.c-3 {
  left: 15%;
  top: 50%;
  height: 7vw;
  width: 7vw;
  transform: rotate(60deg); 
}

/* Green */
.c-4 {
  left: -2%;
  bottom: -3%;
  width: 13vw;
  height: 13vw;
  transform: rotate(60deg); 
}

/* Pink */
.c-5 {
  right: 1%;
  bottom: 7%;
  width: 16vw;
  height: 16vw;
  transform: rotate(-70deg); 
}