#search-results {
  min-height: 100vh;
}

/* Glassmorphism style */
.listings-container {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1em;
  backdrop-filter: blur(4px);
  border: solid 2px transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.listings-container:hover {
  box-shadow: 0 0 20px rgba(68, 241, 91, 0.5);
}

/* Green top left */
.circle7 {
  position: absolute;
  z-index: -1;
  left: 4%;
  top: 50px;
  background: radial-gradient(84.42% 84.42% at 50.2% 15.56%, #F6FFFA 4.46%, #9AFFC2 28.42%, #60E194 68%, #27C566 98.53%);
  width: 12vw;
  height: 12vw;
  border-radius: 100%;
  transform: rotate(110deg);
}

/* Pink top right */
.circle8 {
  position: absolute;
  z-index: -1;
  right: -2%;
  top: -60px;
  background: radial-gradient(86.99% 86.99% at 50.1% 13%, #FFE4FE 0%, #FFABFC 30.5%, #E576E1 65.4%, #D351CE 100%);
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  transform: rotate(-140deg);
}

/* Light blue center */
.circle9 {
  position: absolute;
  z-index: -1;
  right: 30%;
  top: 280px;
  background: radial-gradient(84.49% 84.49% at 50% 15.71%, #FFFFFF 0%, #85ECFB 33.77%, #7EE4F2 65.35%, #59B5C2 100%);  
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  transform: rotate(-40deg);
}

/* Big purple bottom left */
.circle10 {
  position: absolute;
  z-index: -1;
  left: -8%;
  top: 450px;
  background: radial-gradient(81.48% 81.48% at 50.16% 18.48%, #F9E6FF 0%, 
  rgba(249, 232, 255, 0.84742) 0.01%, #F6DCFF 0.02%, #EAADFF 20.08%, #B14DD3 80.5%); 
  width: 25vw;
  height: 25vw;
  border-radius: 100%;
  transform: rotate(30deg);
}

/* Green bottom middle */
.circle11 {
  position: absolute;
  z-index: -1;
  right: 20%;
  top: 600px;
  background: radial-gradient(84.42% 84.42% at 50.2% 15.56%, #F6FFFA 4.46%, #9AFFC2 28.42%, #60E194 68%, #27C566 98.53%);
  width: 7vw;
  height: 7vw;
  border-radius: 100%;
  transform: rotate(-10deg);
}

/* Blue bottom right */
.circle12 {
  position: absolute;
  z-index: -1;
  right: 40%;
  top: 760px;
  background: radial-gradient(85.92% 85.92% at 49.99% 14.06%, #C5D2FF 0%, #ACBEFF 0.01%, #98AFFF 10.71%, #0038FF 56.02%, #002FD7 82.06%, #0029B9 100%);
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  transform: rotate(-5deg);
}

/* Big pink bottom left */
.circle13 {
  position: absolute;
  z-index: -1;
  left: 20%;
  top: 950px;
  background: radial-gradient(86.99% 86.99% at 50.1% 13%, #FFE4FE 0%, #FFABFC 30.5%, #E576E1 65.4%, #D351CE 100%);
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  transform: rotate(10deg);
}

/* Purple bottom left */
.circle14 {
  position: absolute;
  z-index: -1;
  left: 15%;
  top: 1300px;
  background: radial-gradient(81.48% 81.48% at 50.16% 18.48%, #F9E6FF 0%, 
  rgba(249, 232, 255, 0.84742) 0.01%, #F6DCFF 0.02%, #EAADFF 20.08%, #B14DD3 80.5%); 
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  transform: rotate(10deg);
}

/* Big light blue bottom right */
.circle15 {
  position: absolute;
  z-index: -1;
  right: -10%;
  top: 1200px;
  background: radial-gradient(84.49% 84.49% at 50% 15.71%, #FFFFFF 0%, #85ECFB 33.77%, #7EE4F2 65.35%, #59B5C2 100%);  
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  transform: rotate(-20deg);
}

/* Green bottom middle */
.circle16 {
  position: absolute;
  z-index: -1;
  left: 30%;
  top: 1550px;
  background: radial-gradient(84.42% 84.42% at 50.2% 15.56%, #F6FFFA 4.46%, #9AFFC2 28.42%, #60E194 68%, #27C566 98.53%);
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  transform: rotate(5deg);
}

/* Purple bottom right */
.circle17 {
  position: absolute;
  z-index: -1;
  right: 15%;
  top: 1600px;
  background: radial-gradient(81.48% 81.48% at 50.16% 18.48%, #F9E6FF 0%, 
  rgba(249, 232, 255, 0.84742) 0.01%, #F6DCFF 0.02%, #EAADFF 20.08%, #B14DD3 80.5%); 
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  transform: rotate(-5deg);
}

/* Big blue bottom left */
.circle18 {
  position: absolute;
  z-index: -1;
  left: -4%;
  top: 1750px;
  background: radial-gradient(85.92% 85.92% at 49.99% 14.06%, #C5D2FF 0%, #ACBEFF 0.01%, #98AFFF 10.71%, #0038FF 56.02%, #002FD7 82.06%, #0029B9 100%);
  width: 23vw;
  height: 23vw;
  border-radius: 100%;
  transform: rotate(8deg);
}